@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('@/assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c6dff2;
position: relative;
  /*background cu gradient*/
  background: linear-gradient(135deg, #51a4ed, #4a95be);
  overflow: hidden;
  

  &::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    background: linear-gradient(90deg, #9fc5e4, #3e7c9d);
    border-radius: 50%;
    left: -10%;
    top: -20%;
    filter: blur(90px); 
    
  }

  &::after{
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    background: linear-gradient(90deg, #7eacd3, #89b1c6);
    border-radius: 50%;
    right: -10%;
    bottom: -20%;
    filter: blur(90px);
   
  }
}
  
.login-form {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: #f0f4f8; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  flex: 1;
  margin-right: 10%;
  align-self: center;
}
.form-content {
  width: 100%;
}
 
h2 {
    text-align: center;
    margin-bottom: 24px;
    font-family: 'PoppinsBold';
    font-size: 30px;
}
  
  .input-group {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column; 
  align-items: center; 
  
  }
   
  label {
    display: block;
    font-weight: bold;
    font-family: 'Poppins';
    margin-bottom: 10px;
  }
  
  input {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
  }
  
 .login-btn {
    width: 100%;
    padding: 12px;
    background-color: #4a95be;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'PoppinsBold';
  }
  
.login-btn:hover {
    background-color: #9cc4e7;
    color: #00335f;
  }
  
  .error-message {
    color: rgb(235, 99, 224);
    text-align: center;
    margin-top: 10px;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins';
  }
  
  .signup-link a {
    color: #4a95be;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }


  .left-side {
    flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  z-index: 2;
  }
  
  .logo {
    width: 300px;
    margin-bottom: 2rem;
    align-self: center;
  }
  
  .welcome-text {
    text-align: center;
    color: white;
    font-family: "Poppins";
    align-self: center;
  }

  .welcome-text h1 {
    font-family: 'PoppinsBold';
    font-size: 20px;
    margin-bottom: 16px;
    color: white;
  }

  .welcome-text p {
    font-family: 'Poppins';
    font-size: 15px;
    color: white;
  }

  .change-ps{
    font-family: "Poppins";
    text-align: center;

  }

  .link-change-ps{
    cursor: pointer;
    color: #4a95be;
  }

  .link-change-ps:hover{
    text-decoration: underline;
  }

  .reset-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .reset-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .reset-btn{
    background-color: rgb(18, 61, 110);
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .reset-message {
    color: rgb(18, 61, 110);
    margin-top: 5px;
    font-family: 'Poppins';
  }
  
  .reset-content{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
   
  }

  .reset-content h3{
    font-family: "PoppinsBold";
    font-size: 22px;
  }

  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 18px; 
    cursor: pointer;
    color: #09324C;
    padding: 5px; 
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
  }
  
  .close-btn:hover{
    background:none;
    color: #4376a2;
  }

